<!DOCTYPE html>
<html lang="en">

<!--head is where we will keep all links and references-->
<head>
  <title>Admin Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/views_css/admin.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<!--body is where we will keep all the page content-->
<body>
  <!--header is where we will keep the restaurant name + menu filters-->
  <header>
    <!--Restaurant logo + name-->
    <div class="restaurant-logo">
        <img src="/images/profile-hex.png">
        <h2>Lighthouse Restaurant</h2>
    </div>
    <!-- line to seperate next div-->
    <br>
    <!--this is where we will store the filters, more divs may be required here base on type count-->
    <div class="filters">
        <h2>Filter / search </h2>
    </div>
  </header>

  <!-- Page-specific (main) content here -->
  <main>
    <!--This is where all the orders will go-->
    <section class="orders">
      <!--There will be many articles as orders are placed-->
      <% orders_items.forEach(orders => { %>
      <article class="active-order">
        <!--This is where the order details will be placed-->
        <div class="order-details">
          <!--list depending on how PSQL works-->
          <ul>
            <!--Order item from longest cook time at the top? Think of it like a real life ASYNC function-->
            <li>(quantity)(item)(prep-time)<%= ordered_items.order_id %></li>
            <li><%= orders.id %></li>
            <li><%= orders.order_placed %></li>
            <li><%= orders.order_ready %></li>
          </ul>
        </div>
        <!--This is where we will store our SMS auto message buttons-->
        <div class= "client-communication">
          <button class="confirmation-button" type="submit">Send Order Confirmation</button>
          <button class="Pickup-button" type="submit">Order Ready For Pickup</button>
        </div>
      </article>
      <% }); %>


  <!--I'm not sure if footer should be included in admin, but maybe we could include completed orders/history-->
  <footer>
    <h2>Footer</h2>
  </footer>
</body>

</html>
