body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  margin: 0;
  padding: 0;
  background-color: #2B4622;
}

main {
  padding: 60px;
  padding-top: 80px;
  padding-bottom: 0px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.menuItem {
  width: calc(50% - 20px); 
  box-sizing: border-box;
  background-color: #f5d29d;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png"); 
  border: 1px;
  padding: 15px;
  transition: background-color 0.3s ease;
}

.menuItem:hover {
  background-color: #c99b57; 
}

#menuItemDisplay {
  display: flex;
}

#menuItemDisplay img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #2B4622;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


#menuItemDisplay span {
  width: 25%;
  margin-right: 15px;
  border-radius: 5px;
  
}

.foodInformation {
  width: 75%; 
}

.foodNameAndPrice {
  font-size: 1.2em;
  margin: 0;
}

.foodItemDescription {
  margin-top: 5px;
}

.addToCartForm {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.quantityInput {
  width: 50px;
  padding: 5px;
}

.addToCartButton {
  background-color: #2B4622;
  color: #D7BF3A;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: #af1c1c;
}


.leave_review {
  margin-top: 20px;
}

.review-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#review-submit {
  background-color: #D7BF3A; 
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

#review-submit:hover {
  background-color: #F6DFC0; 
}

.error-container {
  color: red;
  margin-top: 10px;
}


footer {
  background-color: #2B4622; 
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  padding: 20px;
  
}

.reviews {
  display: flex;
  border: 1px solid #ddd;
  background-color: #F6DFC0; 
  padding: 15px;
  margin-bottom: 15px;
  margin-inline: 40px;
  border-color: rgb(49, 11, 11);
  border-width: 5px;
}

.Rating img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.review-description {
  flex: 1;
}